*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.infoBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 3px;
    background-color: #242F40;
    color: whitesmoke;
    height: 5vh;
    max-width: 100%;
}
.leftInnerContainer{
    display: flex;
    align-items: center;
}
.online-icon{
    height: 15px;
}